{% load static %}
{% load i18n %}
<!DOCTYPE html>
    <head>
        <title></title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="csrf-token" content="{% csrf_token %}">
        {% block extra_head %}
        {% endblock %}

    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-link" href="{% url 'basic_app:index' %}">Home Page</a></li>
                    <li><a class="navbar-link" href="{% url 'basic_app:register' %}">Register</a></li>



                    {% if user.is_authenticated %}
                        <li><a class="navbar-link" href="{% url 'basic_app:logout' %}">Logout</a></li>
                        <li><a class="navbar-link" href="{% url 'basic_app:datatables_110' %}">Contacts</a></li>
                        <li><a class="navbar-link" href="{% url 'basic_app:user_settings' %}">Settings</a></li>
                            {% if user.is_superuser %}
                                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                                {% endif %}

                    {% else %}
                        <li><a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login</a></li>
                    {% endif %}


                </ul>
            </div>
        </nav>

        {% if messages %}
        <ul class="messages">
             {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
             {% endfor %}
        </ul>fu

        {% endif %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block javascript %}
    {% endblock %}

    </body>
</html>
