{% extends "basic_app/base.html" %}

{% block content %}



    <h2>How to use it:</h2>
        <ul/>
    <p><b>Contacts.</b> There you can manage your profiles data.</p>
    <p>You can add, edit, delete profiles</p>
    <p>Also it is possible to import\export profiles from\to .csv file.</p>

    <p><b>Settings</b>. There you can change your password.</p>
    <p>If you would like to import profiles to GetVero account</p>
    <p>you should add your GetVero key</p>
        </ul>


{% endblock %}

